:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000de;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  width:100vw;
  height:100vh;
  margin:0;
}
#root{
  width:100vw;
  height:100vh;
  margin:0;
}

.navbar {
  width : 100vw;
  height : 15vh;
  background-color: azure;
  align-self: baseline;
  padding: 0;
  margin-top: auto;
  display:flex;
  align-items: center;
  justify-content: space-around;
  bottom:0;
  position: fixed;
}
.navbarIcon{
  width:60px !important;
  height:60px !important;
  color:#779ecb !important;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  border-radius: 100%;
}
.container{
  display:flex;
  justify-content: center;
  flex-direction: column;
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
}
.taskContainer{
  display:flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  width : 80vw;
  position:fixed;
  top:10px;
  animation: slide-in-bottom 0.5s ease-out;
  max-height : 80vh;
  overflow: scroll;
  
}
.checkMark{
 width:100%;
 display:flex;
 justify-content:end;

}
.checkMarkButton{
 padding:0 !important;
 margin:0 !important;
}
.checkMarkButtonIcon{
  width:40px !important;
  height:40px !important;
  color:#779ecb !important;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  border-radius: 100%;
}


.task{
  background-color: rgba(240,255,255,0.8);
  border-radius: 15px;
  padding: 4px;
  margin-bottom:10px;
  width: 80%
}

.taskSlider{
  padding-left:15px;
  padding-right:15px;
}
.taskDescription{
  font-size: 16px;
  margin-left: 8px;
}
.taskDeadline{
  font-size: 16px;
  margin-left: 0px;
  margin-bottom: 0px;
}
.taskProgression{
  font-size: 16px;
  margin-left: 8px;
  margin-top:0;
  margin-bottom:0;
}

.taskTitle{
  font-size:24px;
  margin: 4px;
  display: flex;
  align-items: center;
  column-gap: 4px;
  text-wrap: nowrap;
}
.todo{
  width: 90%; 
  animation: slide-in-bottom 1s ease-out;
}
.todoTitle{
  font-size: 40px;
  color: white;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);
  text-align: center;
  margin:20px
}
.return{
  position: absolute;
  top:1vh;
  left:1vw;
}
.info{
  position: absolute;
  top:1vh;
  right:1vw;
}
.background{
  width:100vw;
  height:100vh;
  margin-bottom: 15vh;
  background: no-repeat url('/src/assets/Moodeng/test.png');
  background-size: cover;
  position: fixed;
  left: -1%
}
.sliderContainer{
  width:80%;
}
.category{
  width: 90%;
  display:flex;
  align-self: center;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  background-color: rgba(240,255,255,0.8);
  position:fixed;
  top:45vh;
  animation: slide-in-bottom 0.5s ease-out;
  border-radius: 10px;
  padding-bottom:14px;
}
.categoryTitle{
  font-size: 30px;
  color: rgba(52, 127, 133, 1) !important;
  /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); */

}
/* Important läggs till för att override Material UI */
/* new task Workbutton */
.categoryButton_0{
  color: white !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
background-color:rgba(52, 127, 133, 1) !important;
font-size: large !important;
width: 80vw  !important;
padding-top: 20px !important;
padding-bottom: 20px !important;
margin-top:4px !important;
margin-bottom:4px !important;
border-radius: 10px !important;
}
/* new task Homebutton */
.categoryButton_1{
  color: white !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
background-color:rgba(89, 167, 165, 1) !important;
font-size: large !important;
width: 80vw  !important;
padding-top: 20px !important;
padding-bottom: 20px !important;
margin-top:4px !important;
margin-bottom:4px !important;
border-radius: 10px !important;
}
/* new task Leasurebutton */
.categoryButton_2{
  color: rgba(52, 127, 133, 1) !important;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
background-color:rgba(153, 221, 219, 1) !important;
font-size: large !important;
width: 80vw  !important;
padding-top: 20px !important;
padding-bottom: 20px !important;
margin-top:4px !important;
margin-bottom:4px !important;
border-radius: 10px !important;
}

.taskCreation{
  display:flex;
  align-self: center;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  background-color:rgba(240,255,255,0.8);
  width : 80vw;
  margin-top: 15%;
  position:fixed;
  top:1%;
  animation: slide-in-bottom 0.5s ease-out;
  border-radius: 25px;
}


.confirmButton {
  align-items: center !important;
  appearance: none !important;
  background-color: rgba(52, 127, 133, 1) !important;
  border-radius: 24px !important;
  border-style: none !important;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0 !important;
  box-sizing: border-box !important;
  color: #fff !important;
  cursor: pointer !important;
  display: inline-flex !important;
  fill: currentcolor !important;
  font-family: "Google Sans",Roboto,Arial,sans-serif !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  height: 48px !important;
  justify-content: center !important;
  letter-spacing: .25px !important;
  line-height: normal !important;
  max-width: 100% !important;
  overflow: visible !important;
  padding: 2px 24px !important;
  position: relative !important;
  text-align: center !important;
  text-transform: none !important;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms !important;
  user-select: none !important;
  -webkit-user-select: none !important;
  touch-action: manipulation !important;
  width: auto !important;
  will-change: transform,opacity !important;
  z-index: 0 !important;
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}

.confirmButton:hover {
  background: #F6F9FE !important;
  color: #174ea6 !important;
}

.confirmButton:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%) !important;
  outline: none !important;
}

.confirmButton:focus {
  outline: none !important;
  border: 2px solid #4285f4 !important;
}

.confirmButton:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px !important;
}

.confirmButton:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px !important;
}

.confirmButton:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px !important;
}

.confirmButton:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px !important;
}

.confirmButton:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px !important;
}

@keyframes slide-in-bottom {
  from {
    transform:translateY(100%);
  }

  to {
    transform:translateY(0);
  }
}

@keyframes hoverUpAndDown {
  0%, 100% {
    transform: translate(50vw, 63vh); /* Start and end at the same position */
  }
  50% {
    transform: translate(50vw, 61vh); /* Move up slightly */
  }
}

#MooDeng {
  width: 50vw; 
  position: absolute; 
  transform: translate(50vw,63vh);
}

#room {
  width: 249vw; 
  transform: translate(-37vw, -39vh);  
  position: fixed; 
}

#room_bad {
  position: fixed;
  width: 250vw; 
  z-index: 1; 
  transform: translate(-35vw, -37.5vh);
}

#room_mat {
  position: fixed;
  z-index: 1;
  width: 390vw;
  transform: translate(-73vw, -102vh);
}

#new-day {
  position: absolute; 
  width: 150px;  
  height: 50px;
  transform: translate(3vw, 86vh);
  z-index: 2;
}
