:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000de;
  background-color:  #347F85;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  width:100vw;
  height:100vh;
  margin:0;
}
#root{
  width:100vw;
  height:100vh;
  margin:0;
}

.navbar {
  width : 100vw;
  height : 15vh;
  background-color: #bcb3b3;
  align-self: baseline;
  padding: 0;
  margin-top: auto;
  display:flex;
  align-items: center;
  justify-content: space-around;
  bottom:0;
  position: fixed;
}
.container{
  display:flex;
  justify-content: center;
  flex-direction: column;
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
  background-image: url('/assets/Moodeng/Default/ room.svg');
}
.taskContainer{
  display:flex;
  align-self: center;
  justify-content:center;
  flex-direction: column;
  background-color:azure;
  width : 80vw;
  margin-top: 15%;
  opacity: 0.4;
  position:fixed;
  top:1%;
}
.task{
  align-self:center;
}
.todo{
  align-self:center;
}


.Bakgrund{
display:flex;
align-self: center;
justify-content: center;
width:100vw;
height:100vh;
margin-top: 0cm;
position: fixed;

}